* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

#mainnav {
    /* height: 94px; */
    height: 72px;
    width: 100%;
    padding: 24px 0;
    position: fixed;
    display: flex;
    justify-content: flex-start;
    /* background-color: transparent; */
    background-color: rgb(33, 37, 41);
    z-index: 1;
}

.navigation {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 140px;
}

.logo img {
    /* height: 32px;
    width: 187px; */
    height: 24px;
    width: 140px;
}

.menu {
    display: flex !important;
    height: 39px;
    width: 912px;

}

.nav {
    height: 100%;
    width: 518px;
    display: flex;
    text-align: center;
    justify-content: space-around;
    text-transform: uppercase;
    margin-left: 396px;
    margin-bottom: 0;
    list-style: none;
    padding: 8px 0;

}

.nav li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    transition: 1s;
}

.nav li :hover {
    color: #ffc800;
}

.head {
    width: 100%;
    height: 745px;
    padding-top: 272px;
    padding-bottom: 200px;
    background-image: url(https://startbootstrap.github.io/startbootstrap-agency/assets/img/header-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.headtext {
    display: block;
    text-align: center;
}

.text1 {
    font-size: 36px;
    font-weight: 400;
    font-style: italic;
    line-height: 36px;
    margin-bottom: 32px;
    font-family: "Roboto Slab";
    color: white;
}

.text2 {
    font-size: 72px;
    font-weight: 700;
    line-height: 72px;
    margin-bottom: 64px;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    color: white;
}

.btn {
    color: white;
    padding: 20px 40px;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    line-height: 27px;
    text-decoration: none;
    border-radius: 6px;
    text-transform: uppercase;
    cursor: pointer;
    text-size-adjust: 100%;
}

.btn-yellow {
    background-color: rgb(255, 200, 0);
    border: 1px rgb(255, 200, 0) solid;
}

.btn-yellow:hover {
    background-color: #cca000;
}

.service-section {
    display: block;
    width: 100%;
    height: 656px;
    padding: 96px 0;
}

.section {
    width: 80%;
    margin: auto;
}

.text h2 {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 16px;
    color: rgb(33, 37, 41);
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.text h3 {
    color: rgb(108, 117, 125);
    font-family: "Roboto Slab";
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    margin-bottom: 64px;
    text-align: center;
}

.servicebar {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    padding-bottom: 96px;
}

.icon {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: #ffc800;
    text-align: center;
    line-height: 130px;
}

.bar {
    width: 30%;
    margin: auto;
    align-items: center;
    text-align: center;
    display: flex;
    height: 250px;
    flex-direction: column;
    justify-content: space-between;
}

.icon i {
    font-size: 50px;
    color: white;
}

.servicebar h4 {
    display: block;
    color: rgb(33, 37, 41);
    margin: 16px 0;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 700;
}

.servicebar p {
    display: block;
    color: rgb(108, 117, 125);
    font-size: 16px;
    font-family: "Roboto Slab";
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    margin-bottom: 16px;
}

.portfoliobar {
    padding: 96px 0;
    background-color: rgb(248, 249, 250);
    display: block;
    text-align: center;
    width: 100%;
    height: 1113px;
    margin: auto;
    align-items: center;
}

.portfolioitem {
    margin: auto;
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 770px;
}

.portfolioitem .item {
    height: 280px;
    width: 356px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.portfolioitem figure {
    position: relative;
    width: 100%;
}

.portfolioitem caption {
    margin: 0 36px;
    padding: 24px;
    width: 100%;
}

.portfolioitem figure:hover img {
    opacity: 0.3;
}


.portfolioitem figure:hover .overlay {
    opacity: 1;
    color: white;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 200, 0, 0.9);
}

.portfolioitem img {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.portfolioitem .overlay {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolioitem .caption {
    padding: 24px;
}

.portfolioitem .caption .caption-head {
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: rgb(33, 37, 41);
    line-height: 36px;
}

.portfolioitem .caption .caption-subhead {
    font-size: 16px;
    font-family: "Roboto Slab";
    font-style: italic;
    font-weight: 400;
    color: rgb(108, 117, 125);
    line-height: 24px;

}

.aboutbar {
    padding: 96px 0;
    display: block;
    text-align: center;
    height: 1970px;
    margin: auto;
    align-items: center;
}

.schema {
    width: 80%;
    height: 1616px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: auto;
}

.line {
    background-color: rgb(233, 236, 239);
    position: absolute;
    width: 2px;
    height: 1500px;
    z-index: -1;
    left: 50%;
}

.schema .timeline {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-around;
    width: 100%;
    height: 260px;
}

.timeline-icon {
    border: 7px solid rgb(233, 236, 239);
    border-radius: 100%;
    width: 170px;
    height: 170px;
}

.timeline .timeline-icon img {

    height: 156px;
    width: 156px;
    border-radius: 50%;
}

.timeline-empthy {
    height: 100%;
    width: 400px;
}

.timeline-text-right {
    display: flex;
    flex-direction: column;
    height: 260px;
    width: 400px;
    align-items: flex-end;
    text-align: right;
    justify-content: right;
    padding: 0 20px 20px 100px;
}

.timeline-text-left {
    display: flex;
    flex-direction: column;
    height: 260px;
    width: 400px;
    align-items: flex-start;
    text-align: left;
    justify-content: left;
    padding: 0 100px 20px 20px;
}

.timeline h4 {
    color: rgb(33, 37, 41);
    font-size: 24px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    width: 338px;
    height: 29px;
    margin-bottom: 8px;
}

.timeline p {
    color: rgb(108, 117, 125);
    font-family: "Roboto Slab";
    font-size: 16px;
    font-weight: 400;
    height: 168px;
    width: 338px;
    line-height: 28px;
}

.schema .timeline-end {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-around;
    width: 100%;
    height: 200px;
}

.timeline-end h4 {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    width: 170px;
    height: 170px;
    line-height: 26px;
    text-align: center;
    padding-top: 40px;
    background-color: #ffc800;
    border: 7px solid rgb(233, 236, 239);
    border-radius: 100%;
    margin: auto;
}

.teambar {
    padding: 96px 0;
    display: block;
    text-align: center;
    margin: auto;
    align-items: center;
    background-color: rgb(248, 249, 250);
}

.team {
    width: 80%;
    margin: auto;
}

.team .members {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 409px;
}

.member {
    height: 360px;
    width: 356px;
    padding-bottom: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.member img {
    height: 224px;
    width: 224px;
    border: 8px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;

}

.social {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 45%;
    margin: 0 8px;
}

.social a {
    background-color: black;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.social i {

    color: white;
    width: 24px;
    height: 24px;
    line-height: 24px;
}

.members h4 {
    display: block;
    color: rgb(33, 37, 41);
    margin-top: 24px;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
}

.members p {
    display: block;
    color: rgb(108, 117, 125);
    font-size: 16px;
    font-family: "Roboto Slab";
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    margin-bottom: 16px;
}

.caption {
    width: 80%;
    height: 72px;
    margin: auto;
    padding: 0 80px;
}

.caption p {
    color: rgb(108, 117, 125);
    font-size: 16px;
    font-weight: 400px;
    font-family: "Roboto Slab";
    line-height: 28px;
    text-align: center;
}

.customer {
    height: 172px;
    padding: 48px 0;
    margin: 0 120px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.customer img {
    height: 44px;
    margin: 0 28px;
    cursor: pointer;
}

.contactbar {
    height: 700px;
    background-color: #212529;
    background-image: url(https://startbootstrap.github.io/startbootstrap-agency/assets/img/map-image.png);
    background-repeat: no-repeat;
    background-position: center;
}

.contactbar .contact {
    padding: 96px 0;
    margin: 0 116px;
}

.contact h2 {
    color: white;
}

#contactform {
    height: 270px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#contactform .data {
    width: 570px;
    padding: 0 12px;
}

#contactform .textarea {
    width: 570px;
    padding: 0 12px;
}

.input input {
    padding: 20px;
    width: 546px;
    border: 1px solid rgb(206, 212, 218);
    border-radius: 6px;
    margin-bottom: 24px;
    background-color: rgb(255, 255, 255);
    cursor: text;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 700;
}

::placeholder {
    color: #212529;
    opacity: 0.30;
    font-size: 18px;
}

textarea {
    padding: 20px;
    width: 546px;
    height: 233px;
    border: 1px solid rgb(206, 212, 218);
    border-radius: 6px;
    margin-bottom: 24px;
    background-color: rgb(255, 255, 255);
    cursor: text;
    letter-spacing: normal;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 700;
}

.btn-send {
    display: flex;
    align-items: center;
    justify-content: center;
}

.submit {
    background-color: rgb(255, 200, 0);
    border: 1px solid rgb(255, 200, 0);
    border-radius: 6px;
    height: 70px;
    width: 230px;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    cursor: pointer;
    opacity: 0.65;
}

.footer {
    height: 88px;
    padding: 24px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 400;
}


footer .social {
    width: 15%;
    line-height: 22px;
    text-align: center;
}

footer .end {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.end a {
    color: #212529;
    text-decoration: none;
}